body {
  /*Gradient from black to white as background color*/
  background: -webkit-linear-gradient(black, white);
  background: -o-linear-gradient(black, white);
  background: -moz-linear-gradient(black, white);
  background: linear-gradient(black, white);
}
